:root {
    /* Colour palette */
    --color-primary: #219C90;
    --color-secondary: #E9B824;
    --color-tertiary: #EE9322;
    --color-accent: #D83F31;

    /* Dimensions */
    --card-width: 300px;
    --card-height: 250px;
}

* {
    box-sizing: border-box;
}
  
body {
    background-color: var(--color-primary);
    margin: 0;
}

/* Fonts and effects */
.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shadow-effect {
    box-shadow: 7px 7px;
}

.hidden {
    display: none;
}

/* Page header */
h1 {
    margin: 0;
    padding: 10px;
}

.header {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 7px; /* custom shadow-effect */
}

/* Page content */
.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.project-card {
    background-color: var(--color-secondary);
    width: var(--card-width);
    height: var(--card-height);
    margin: 20px;
    border: 1px solid black;
}

.card-header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5em;
}

.button {
    padding: 3px 5px;
    border-radius: 5px;
}

.link-github {
    background-color: var(--color-tertiary);
}

.link-play {
    background-color: var(--color-accent);
}

.card-thumbnail {
    height: 85%;
}

.thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}